# Xcode / Swift build artifacts
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
.swiftpm/
.build/
Packages/

# macOS
.DS_Store

# Fastlane / misc
*.ipa
*.dSYM.zip
*.dSYM
